* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

img { 
    max-width: 100%;
}

body {
    max-width: 970px;
    color: #747774;
    font-weight: 100;
}

.logo {
    float: right;
}

.moto, .title {
    text-align: right;
    font-weight: 300;
}

.frontimg { 
    margin: 0 auto;
    display: block;
}

.work {
    color: #BCBBBB;
    font-weight: 400;
    min-width: 230px;
    margin-bottom: 15px;
}

.line {
    height: 4px;
    background-color: #BCBBBB;
}

.workimage {
    display: block;
}

.works { 
    justify-content: center;
}


.workdesc {
    text-align: center;
    padding: 5px 5px;
    color: gray;
}

a {
  font-size: 12px;
  color: #747774;
  text-decoration: none;
}

h1, h2 {
    margin: 5px;
}

@media screen and (max-width: 700px) { 
   .logo { 
       float: left;
    }

    .moto, .title {
        text-align: left;
    }
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}