* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

img { 
    max-width: 100%;
}

body {
    max-width: 900px;
    margin: 0 auto;
    color: #747774;
    font-weight: 100;
}

.logo {
    float: right;
}

.moto, .title {
    text-align: right;
    font-weight: 300;
}

.frontimg { 
    height: auto;
    width: auto;
    background-image: url(../front.jpg);
}


.work {
    color: #BCBBBB;
    margin-bottom: 20px;
    font-weight: 400;
    width: 30%;
    min-width: 200px;
    margin: 10px;
}

.line {
    height: 4px;
    background-color: #BCBBBB;
}

.workimage {
    display: block;
}

.works { 
    justify-content: center;
}


.workdesc {
    text-align: center;
    padding: 5px 5px;
    color: gray;
}

a {
  font-size: 12px;
  color: #747774;
  text-decoration: none;
}

h1, h2 {
    margin: 5px;
}

@media screen and (max-width: 700px) { 
   .logo { 
       float: left;
    }

    .moto, .title {
        text-align: left;
    }
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.wrap { 
   flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}